.title-account{
	background: url(../img/title-account.png) center center no-repeat;
}

.title-bar.title-account{
	margin-bottom: 20px;
}

.page-static h3.title{
	margin: 0px 0 30px 0;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #7f7f7f;
    padding: 20px 5px;
    margin-bottom: 40px;
    padding-left: 20px;
}

.general-table{
	margin-top: 40px;
}

.general-table th{
	color: white;
	background: #13495d;
	font-size: 16px;
}

table.general-table td{
	vertical-align: middle !important;
}

.general-table .btn-success{
	display: block;
    border-radius: 20px;
    background: none;
    border: none;
    background: #3D794C;
    border: #3D794C;
}

.form-area label{
    width: 100%;
    overflow: hidden;
    clear: both;
    margin: 40px 0px 20px 0px;
}

.ordersTable tbody tr{
    height: 50px;
}

.ordersTable tbody tr td{
    padding: 20px !important;
}

.grayFont{
    color: #979;
}

.pagination  a.active{
    font-weight: bold;
    font-size: 18px;
}

.data-form{
	margin-top:40px;
}